/* facts-section */

.facts-section .container{
    text-align: center;
    padding-top: 52px;
  }
  
  .facts-img {
    Width:30px;
    Height:52.1px;
  }
  
  .facts-card {
    margin-top: 30px;
    margin-bottom: 22px;
  }
  
  .facts-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 24px;
    color: #121314;
    margin-top: 18px;
  
  }
  
  .facts-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #121314;
    width: 875px;
    text-align: center;
    margin-top: 16px;
  }
  
  .facts-list {
    display: flex;
  }
  
  
  .facts-main-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #121314;
    padding-bottom: 22px;
    text-align: center;
  }
  
  .facts-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #121314;
    text-align: center;
  }
  